# Don't include large .img files from testing
img/*.img

# Ignore all python cache stuff
*.pyc

# Ignore personal settings and apps (privacy)
boot/wpa_supplicant.conf
install/app/*
!install/app/README.md
install/data/*.config

# Ignore virtual environment (highly recommended to use your own)
venv/

# Ignore editor stuff
.vscode/
